#introduction {
    background:linear-gradient(rgb(233, 167, 81),rgba(0, 0, 0, 0.7)), url('http://bit.ly/2fBj6OJ') 0% 0%/cover ;
    }
    .fill-viewport{
      min-height:100vh;
    }
    .text-white-60 {
      color: rgb(255, 255, 255)
    }
    .text-white-40 {
      color: rgba(255,255,255,0.4)
    }
    .fill-80-viewport {
      min-height: 80vh
    }
    .text-white-70 {
      color:rgba(255,255,255,0.7)
    }