header[role="banner"] #logo-main {
    display: block;
    margin: 20px auto;
}
#navbar-primary.navbar-default {
    background: transparent;
    border: none;
}
#navbar-primary.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
}


  