#navbar-primary.navbar-default .navbar-nav > li {
    display: inline-block;
    float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
}

a {
    text-transform: none !important;
    text-decoration: none !important;
    color: white !important;
    margin-left: 10px;
}